<div class="card" ng-repeat="game in gameResults">
  <div class="container panel panel-default">
    <div class="row grey-background">
      <div class="col-xs-5"><p>{{game.status.status}}</p></div>
      <div class="col-xs-4">R</div>
    </div>
    <div class="row">
      <div class="col-xs-5"><p ng-class="{ 'font-weight-bold' : game.linescore.r.home > game.linescore.r.away }">{{game.home_team_name}}</p></div>
      <div class="col-xs-4">{{game.linescore.r.home}}</div>
    </div>
    <div class="row">
        <div class="col-xs-5"><p ng-class="{ 'font-weight-bold' : game.linescore.r.home < game.linescore.r.away }">{{game.away_team_name}}</p></div>
        <div class="col-xs-4">{{game.linescore.r.away}}</div>
      </div>
  </div>
</div>