<h3>{{title}}</h3>

<div class="row">
    <div class="col-sm-4">
        <i class="fa fa-arrow-left" style="float:right" aria-hidden="true" ng-click="prevDay()">Previous</i>
    </div>
    <div class="col-sm-4">
        <datepicker date-format="MMMM dd, y" selector="form-control">
            <div class="input-group">
                <input class="form-control" ng-model="date" placeholder="Choose a date"/>
                <span class="input-group-addon" style="cursor: pointer">
                <i class="fa fa-lg fa-calendar"></i>
                </span>
            </div>
        </datepicker>
    </div>
    <div class="col-sm-4">
        <i class="fa fa-arrow-right" aria-hidden="true" ng-click="nextDay()">Next</i>
    </div>
</div>

<div class="separator30"></div>

<h4>{{error}}</h4>

<scoreboard-card></scoreboard-card>